#box1{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: relative;
}
#box2{
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
#box3{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    position: fixed;
    top: 100px;
    left: 100px;
}
#inner-box3{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 50px;
    left: 50px;
}
#box4{
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    position: sticky;
    top: 0px;
}