.icons{
    text-align: center;
    
}
.icons a{
    text-decoration: none;
    margin-right: 20px;
}
.fa-brands.fa-youtube.fa-5x{
    color: hsl(0, 100%, 50%);
}
.fa-brands.fa-youtube.fa-5x:hover{
    color: hsl(0, 100%, 60%);
}
.fa-brands.fa-discord.fa-5x{
    color: hsl(231, 83%, 67%);
}
.fa-brands.fa-discord.fa-5x:hover{
    color: hsl(231, 83%, 77%);
}
.fa-brands.fa-github.fa-5x{ 
    color: hsl(0, 0%, 10%);
}
.fa-brands.fa-github.fa-5x:hover{
    color: hsl(0, 0%, 30%);
}