h1 {
    border: 3px solid rgb(85, 168, 236);
    border-radius: 200px;
}
p {
    border-bottom: 3px solid rgb(184, 13, 13);
    border-top:3px solid yellow;
    border-left: 3px dotted green;
    border-right: 3px dashed purple;
    border-radius: 50px;
}