body{
    margin:0px
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;
}
#box1{
    background-color: lightblue;
}

#box2{
    background-color: lightgreen;
}