body{
    margin: 0;
}
.box{
    width: 250px;
    height: 250px;
    border: 5px solid black;
    font-size: 13em;
    text-align: center;
    transform: translateX(100%) rotateZ(90deg) scale(0.5)
}
#box1{
    background-color: hsl(120, 100%, 70%);
}
#box2{
    background-color: hsl(0, 100%, 70%);
}
#box3{
    background-color: hsl(240, 100%, 70%);
}
img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    transform: scaleX(3);
}