.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color: rgb(164, 165, 165);
    color: white;
    padding : 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(227, 228, 230);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.699);

}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: rgb(100, 101, 102);
}

.dropdown a:hover{
    background-color: rgb(158, 159, 160);
}