* {
    box-sizing: border-box;
}

.container{
    background-color: lightgrey;
    height: 100vh;
}

.box{
    background-color: lightblue;
    border: 2px solid black;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    min-height: 50%;
}