.pagination {
    text-align: center;
}

.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

.pagination a.active{
    background-color: lightblue;
    font-weight: bold;
    border-radius: 5px;
}

.pagination a:hover:not(.active){
    background-color: rgb(214, 214, 218);
    border-radius: 5px;
}